body {
font-family: Georgia, serif;
font-size: 15px;
letter-spacing: 0.2px;
word-spacing: 0.4px;
color: #BBF8FF;
font-weight: 300;
text-decoration: none solid rgb(68, 68, 68);
font-style: italic;
text-transform: none;
background-color:black;
}


#hero {
    background-image: url(Ferris\ Wheel.jpg);
    background-size: cover;
    background-position: center bottom;
  }

  #hero h5 {
    padding-top: 200px;
    text-align:right;
    font-weight: lighter;
    color:deeppink;
  }

  .row {
      margin-top: 50px;
  }

  .row h4 {
      color: deeppink;
      font-weight: ligher;
  }

.container h4 {
    text-align: right;
    color: aqua;
}

.container p {
    text-align: right;
    color:deeppink;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
 
  .fa-instagram {
    background: #3B5998;
    color: white;
    padding-bottom: 20px;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    padding-bottom: 20px;
  }

  .fa-linkedin {
      background:cadetblue;
      color:white;
      padding-bottom: 20px;
  }

  footer img {
padding: 25px, 0;
  }

img {
    margin-top: 25px;
    border-radius: 50%;
    margin-bottom: 25px;
}

footer h4 {
font-weight:lighter;
font-size:small;
text-align: center;
}

footer p {
    color: #BBF8FF;
    text-align: center;
}

footer h6 {
    padding-bottom: 25px;
    padding-top: 25px;
}