body {
    font-family: Georgia, serif;
font-size: 15px;
letter-spacing: 0.2px;
word-spacing: 0.4px;
color: #BBF8FF;
font-weight: 300;
text-decoration: none solid rgb(68, 68, 68);
font-style: italic;
text-transform: none;
background-color:black;
}


#hero {
    background-image: url(Neon\ Squiggly.jpg);
    background-size: cover;
    background-position: center bottom;
  }

  #hero h5 {
    padding-top: 200px;
    text-align:right;
    font-weight: lighter;
    color: aqua;
  }

  .row {
      margin-top: 50px;
  }

  .row h4 {
      color: deeppink;
      font-weight: ligher;
  }

.container h4 {
    text-align: right;
    color: aqua;
}

.container p {
    text-align: right;
    color: aqua;
}

